.jumbotron {
    text-align: center;
    background-color: #7A8C51;
    margin: 0;
}
.navbar {
    background-color: #BFAE8E
}
.carousel-item > img {
    width: 100%;
}
.footer {
    background-color: #BFAE8E;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card {
    margin: 15px;
}
.media > img {
    height: 100px;
    width: auto;
    margin: 15px;

}